@{
    ViewBag.Title = "Contact";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login Page</title>

</head>

<body background="~/Content/Images/4.jpg">

    <h2 style="color:red;margin-bottom:-50px;margin-left:-40px; margin-top:80px;">Contacteaza-ne</h2>

    <address style="color:white;font:20px arial; margin-top:120px;margin-left:-40px;">
        Academia Tehnica Militara<br />
        Bd-ul George Cosbuc, nr. 39-49<br />
        Sector 5, Bucuresti, Romania<br />
        <abbr title="Phone">Telefon:</abbr>
        (+40)0755 226113
    </address>

    <address style="color:white;font:20px arial;margin-top:50px;margin-left:-40px;">
        <strong>Suport tehnic:</strong>   <a style="color:rgb(4, 249, 239);font:18px arial,italic;" href="mailto:Support@example.com">urianpaul29@gmail.com</a><br />
    </address>

</body>

</html>