<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>

      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_IhashSignSVC" >
            <security mode="None"/>  
        </binding>
        </basicHttpBinding>
      </bindings>
      <client>
        <endpoint address="http://localhost:22987/hashSignSVC.svc" binding="basicHttpBinding"
            bindingConfiguration="BasicHttpBinding_IhashSignSVC" contract="myService.IhashSignSVC"
            name="BasicHttpBinding_IhashSignSVC" />
      </client>
      
        <!--<client>
            <endpoint address="http://localhost:22987/hashSignSVC.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IStreamed" contract="myService.IhashSignSVC"
                name="BasicHttpBinding_ITestService" />
        </client>-->
      
    </system.serviceModel>
</configuration>