@{
    ViewBag.Title = "Home";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login Page</title>

</head>

<body background="~/Content/Images/4.jpg">
        @Html.Partial("_HomePartial")
</body>

</html>